.widget_categories {
  padding-bottom: 2rem;

  @include media-breakpoint-up(lg) {
    padding-bottom: 3rem;
  }

  @include media-breakpoint-up(xxl) {
    padding-bottom: 4rem;
  }

  h3 {
    font-family: $font-family-sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    background-color: $brand-1;
    color: $white;
    text-align: center;
    padding: 1rem 0.5rem;
    margin-bottom: 0;

    @include media-breakpoint-up(xxl) {
      font-size: 1.75rem;
    }
  }

  ul {
    font-family: $font-family-sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    list-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0;
    text-align: center;
    color: $white;
    padding-top: 2rem;

    li {
      margin-top: 0.25rem;

      &:first-child {
        margin-top: 0;
      }

      @include media-breakpoint-up(xxl) {
        margin-top: 0.5rem;
      }
    }

    a {
      color: $white;

      @include transition($transition-base);

      &:hover,
      &:focus {
        color: $brand-1;
        text-decoration: none;
      }
    }
  }
}
