.sidebar-primary {
  .content {
    @extend .row;

    margin-left: 0;
    margin-right: 0;
  }

  .main {
    @extend .col-lg-8;
    @extend .col-xl-9;

    position: relative;
  }

  .sidebar {
    @extend .col-lg-4;
    @extend .col-xl-3;
  }

  &.blog,
  &.single-post,
  &.archive {
    .main {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 2rem;

      @include media-breakpoint-up(lg) {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        padding-bottom: 4rem;
      }
    }

    .sidebar {
      background-color: $brand-2;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.section-blog-banner {
  padding-top: 72px;

  @include media-breakpoint-up(sm) {
    padding-top: 74px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 90px;
  }

  @include media-breakpoint-up(xxxl) {
    padding-top: 106px;
  }

  .blog-banner {
    &__background {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 400px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      @include media-breakpoint-up(xxxl) {
        height: 530px;
      }
    }

    &__text {
      align-self: flex-end;
      padding: 1rem;

      @include media-breakpoint-up(md) {
        padding: 2rem;
      }
    }

    &__main-title {
      font-size: 2.5rem;
      line-height: 1.2;
      text-transform: uppercase;
      color: $brand-1;
      text-align: right;

      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }

      @include media-breakpoint-up(xxl) {
        font-size: 4.5rem;
      }
    }

    &__subtitle {
      font-family: $font-family-sans-serif;
      font-weight: 700;
      font-size: 1.25rem;
      color: $white;
      text-align: right;

      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
      }

      @include media-breakpoint-up(xxl) {
        font-size: 1.875rem;
      }
    }
  }
}

.section-sidebar-header {
  .sidebar-mmiam-logo {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(lg) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}

.blog,
.single-post,
.archive,
.search-results {
  .post,
  .page,
  .course {
    margin-bottom: 4rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 6rem;
    }

    .post-header {
      margin-bottom: 1rem;

      @include media-breakpoint-up(xl) {
        margin-bottom: 2rem;
      }
    }

    .post-summary {
      @extend .col-md-12;
    }

    .post-thumbnail + .post-summary {
      @extend .col-md-8;
      @extend .col-sm-12;

      margin-top: 1rem;

      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }

    .post-thumbnail {
      img {
        @extend .img-fluid;
      }
    }

    .entry-meta {
      font-weight: 400;
      font-style: italic;
      font-size: 1rem;
      color: #606060;
      margin-bottom: 1rem;

      @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
      }
    }

    .entry-title {
      font-weight: 700;
      font-size: 2rem;
      color: $brand-2;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        font-size: 2.5rem;
      }
    }

    .entry-subtitle {
      font-family: $font-family-sans-serif;
      font-weight: 700;
      font-size: 2rem;
      font-style: italic;
      color: $brand-1;
      margin-bottom: 1rem;

      @include media-breakpoint-up(xl) {
        font-size: 2.5rem;
      }
    }

    .entry-author {
      font-weight: 700;
      font-size: 1rem;
      color: $brand-2;
      position: relative;

      @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
      }

      &::before {
        content: "";
        width: 40px;
        height: 3px;
        background-color: $brand-2;
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: -3px;

        @include media-breakpoint-up(xl) {
          width: 80px;
          height: 5px;
        }
      }
    }

    .entry-summary {
      font-size: 1.25rem;
      line-height: 1.6;
      color: $body-color;

      @include media-breakpoint-up(xl) {
        font-size: 1.5rem;
      }
    }

    .entry-introduction {
      color: $brand-2;
      font-weight: 700;
      line-height: 1.6;
      font-size: 1.5rem;

      @include media-breakpoint-up(xl) {
        font-size: 1.625rem;
      }
    }

    .entry-content {
      padding-bottom: 4rem;
    }

    .read-more {
      position: relative;
      font-weight: 700;
      font-size: 1.5rem;
      font-style: italic;

      &::after {
        content: "";
        width: 60px;
        height: 28px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        top: 7px;
        margin-left: 1rem;
        background-image: url("../images/small-arrow-right-purple.svg");

        @include transition($transition-base);
      }

      &:hover,
      &:focus {
        color: $link-color;
        text-decoration: none;

        &::after {
          transform: translateX(5px);
        }
      }
    }
  }

  .pagination {
    justify-content: center;

    .nav-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .page-numbers {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #e5e5e5;
        border-radius: 50%;
        font-size: 1.375rem;
        line-height: 1;
        margin: 0.25rem;
        padding: 0.5rem;
        color: $black;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        &.current {
          color: $white;
          background-color: $brand-1;
        }

        &.next,
        &.prev {
          background-color: transparent;
          position: relative;
          width: auto;
          color: $brand-2;
          font-style: italic;
          font-weight: 700;
          text-transform: lowercase;
          font-size: 1.75rem;
          display: none;

          @include media-breakpoint-up(xl) {
            display: block;
          }
        }

        &.prev {
          margin-right: 3rem;
          padding-left: calc(105px + 1rem);

          &::before {
            content: "";
            display: inline-block;
            width: 105px;
            height: 40px;
            background-image: url("../images/arrow-left-purple.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 4px;
            left: 0;

            @include transition($transition-base);
          }

          &:hover,
          &:focus {
            &::before {
              transform: translateX(-5px);
            }
          }
        }

        &.next {
          margin-left: 3rem;
          padding-right: calc(105px + 1rem);

          &::after {
            content: "";
            display: inline-block;
            width: 105px;
            height: 40px;
            background-image: url("../images/arrow-right-purple.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 4px;
            right: 0;

            @include transition($transition-base);
          }

          &:hover,
          &:focus {
            &::after {
              transform: translateX(5px);
            }
          }
        }
      }
    }
  }
}

.single-post {
  .post {
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      margin-bottom: 6rem;
    }

    .wysiwyg {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: $font-family-sans-serif;
        font-weight: 900;
        color: $brand-2;
        letter-spacing: 0.03rem;
      }

      ul {
        li {
          &::before {
            color: $brand-2;
          }
        }
      }

      .wp-caption {
        position: relative;

        img {
          margin-bottom: 0;
        }
      }

      .wp-caption-text {
        background-color: rgba($black, 0.6);
        color: $white;
        font-size: 1rem;
        font-weight: 700;
        text-align: right;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;

        @include media-breakpoint-up(xl) {
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }

  .entry-footer {
    @include media-breakpoint-up(xl) {
      position: absolute;
      width: 100%;
      bottom: 3rem;
    }
  }
}

.archive,
.search-results {
  .page-header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    &__title {
      @extend .h2;

      font-family: $font-family-sans-serif;
      font-weight: 700;
      font-style: italic;
      text-align: center;
      color: $brand-1;
    }
  }
}
